<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= fontName %></title>
	<link rel="stylesheet" href="styles.css"/>
	<link rel="stylesheet" href="<%= fontName.toLowerCase() %>.css"/>
</head>
<body>
<div class="header">
	<% if (headerIcon) { %>
	<div class="header-icon">
		<i class="<%= className %> <%= className %>-<%= headerIcon %>"></i>
	</div>
	<% } %>
	<div class="header-text"><%= fontDisplayName %></div>
	<div class="header-subtext"><%= glyphs.length %> vector icons and CSS</div>
</div>

<div class="content">
	<div class="icons flexbox">
		<% _.each(glyphs, function(glyph) { %>

		<div class="icon flexbox">
			<div class="glyph"><i class="<%= className %> <%= className %>-<%= glyph.name %>"></i></div>
			<div class="info">
				<div class="class-name"><%= className %>-<%= glyph.name %></div>
				<div class="unicode"><%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %></div>
			</div>
		</div>

		<% }); %>
		<div class="icon flexbox"></div>
		<div class="icon flexbox"></div>
		<div class="icon flexbox"></div>
		<div class="icon flexbox"></div>
	</div>
</div>

<!--TEST-->

<!--<div class="content instructions">-->
<!--<h2> Get started</h2>-->
<!--<ol>-->
<!--<li>-->
<!--In the &lt;head&gt; of your html, reference the location to your iconto-awesome-neue.min.css-->
<!--<pre class="code">&lt;link rel="stylesheet" href="path/to/iconto-awesome-neue/iconto-awesome-neue.min.css"&gt;</pre>-->
<!--</li>-->
<!--</ol>-->

<!--</div>-->

<div class="content examples" style="display: none;">
	<h2>Examples</h2>

	<!--<p>The quick brown fox <i class="ic ic-hangman"></i> jumps over the lazy dog <i class="ic ic-unknown"></i>. </p>-->

	<!--<p>You can pay by <i class="ic ic-cc-visa"></i> or by <i class="ic ic-cc-mastercard"></i>.</p>-->

	<%
	var getRandomText = function (length) {
		var text = "";
		var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
		for (var i = 0; i < length; i++)
			text += possible.charAt(Math.floor(Math.random() * possible.length));
		return text;
	};
	var html = '';
	_.each(glyphs, function (glyph) {
		html += '<i class="' + className + ' ' + className + '-' + glyph.name + '"></i>' + getRandomText(3);
	});
	%>

	<div class="example-p font-12">
		<div class="font-size">12</div>
		<div class="html"><%= html %></div>
	</div>

	<div class="example-p font-14">
		<div class="font-size">14</div>
		<div class="html"><%= html %></div>
	</div>

	<div class="example-p font-16">
		<div class="font-size">16</div>
		<div class="html"><%= html %></div>
	</div>

	<div class="example-p font-20">
		<div class="font-size">20</div>
		<div class="html"><%= html %></div>
	</div>
</div>

<div class="green-background">
	<div class="content">
		<div class="footer flexbox">
			<div class="credits">Awesome Icons project created and maintained by <span class="white">Frontend Team</span>.
				Artwork by <span class="white">Design Team</span>.
				SCSS/HTML implementation inspired by <a href="http://fontawesome.io/" target="_blank">FontAwesome</a>.
			</div>
			<div class="copyright">Awesome Icons licensed under <a href="http://scripts.sil.org/OFL" target="_blank">SIL OFL
					1.1</a>, Code licensed under <a href="http://opensource.org/licenses/mit-license.html" target="_blank">MIT
					License</a>,
				Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY
					3.0</a>.
			</div>
		</div>
	</div>
</div>
</body>
</html>