body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #666666;
}

i {
	//background-color: lavender;
}

[class^="font-"] {
	padding-bottom: 0px;
}

@for $i from 12 through 80 {
	.font-#{$i} {
		font-size: #{$i}px;
	}
}

// Colors

$green: #8BC34A;

// Styles

.header {
	background-color: $green;
	text-align: center;

	.header-icon {
		padding-top: 20px;

		i {
			font-size: 90px;
			color: white;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		}
	}

	.header-text {
		font-size: 60px;
		font-weight: bold;
		color: white;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		padding-top: 40px;
		padding-bottom: 10px;
	}

	.header-icon + .header-text {
		padding-top: 0;
	}

	.header-subtext {
		font-size: 26px;
		line-height: 1;
		color: white;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		padding-bottom: 40px;
	}
}

.flexbox {
	display: flex;
}

.content {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	padding: 20px;
	box-sizing: border-box;
}

.search {
	margin: 20px 0;

	input[name=search] {
		width: 300px;
		font-size: 18px;
		font-weight: 100;
		margin: 0 auto;
		display: block;
		border-radius: 2px;
		border: solid 1px #cccccc;
		padding: 6px 10px;
		outline: none;
	}
}

.icons {
	flex-wrap: wrap;
	//margin-bottom: 20px;

	.icon {
		align-items: center;
		flex: 1 0 230px;
		margin-top: 20px;

		&:empty {
			margin: 0;
		}

		.glyph {
			box-sizing: border-box;
			font-size: 36px;
			padding-right: 0px;
			padding-left: 2px;
			width: 60px;
			overflow: hidden;

			//[class*="ic-cc"] {
			//	font-size: 40px;
			//}

			i {
				position: relative;
				top: 4px;
				color: #666666;
			}
		}

		.info {
			margin-right: 20px;

			.class-name {
				font-size: 14px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				color: #666;
			}

			.unicode {
				font-size: 9px;
				font-style: italic;
				color: rgba(0, 0, 0, 0.3);
				padding-top: 4px;
			}
		}
	}
}

.green-background {
	background-color: $green;
}

h2 {
	font-size: 30px;
	font-weight: normal;
	margin: 25px 0 45px;
}

pre {
	font-size: 13px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	background-color: #fafafa;
	padding: 12px;
	border: solid 1px #f0f0f0;
	border-radius: 2px;
}

ol {
	padding-left: 25px;
	font-size: 12px;
	margin: 0;
}

.example-p {
	line-height: 1.6;
	display: flex;
	margin-bottom: 20px;

	.font-size {
		margin-right: 20px;
		width: 24px;
		flex-shrink: 0;
	}

	.html {
		color: #cccccc;

		i {
			color: #666666;
		}
	}
}

.instructions, .examples {
	margin-bottom: 20px;

	//i {
	// position: relative;
	// top: 0px;
	//}
}

.footer {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
	//max-width: 1140px;
	margin: auto;
	line-height: 18px;
	padding: 30px 0;

	.white {
		color: white;
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.credits, .copyright {
		flex: 1;
		text-align: left;
	}

	.credits {
		padding-right: 40px;
	}
}